@import "tailwindcss";
@import url("https://fonts.google.com/specimen/DM+Sans");
@import url("https://fonts.google.com/specimen/Bricolage+Grotesque");

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
  --color-blue-900: hsl(240, 64%, 17%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-0: hsl(0, 0%, 100%);
}
